@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
display: grid;
place-items: center;
  margin: 0;
  height: 100vh;
  font-weight: 100;
  background: radial-gradient(#000000, #1a1a1a);
  font-family: 'Roboto', sans-serif;
  overflow-y: hidden;
  -webkit-animation: fadeIn 1 1s ease-out;
  -moz-animation: fadeIn 1 1s ease-out;
  -o-animation: fadeIn 1 1s ease-out;
  animation: fadeIn 1 1s ease-out;
}

.start:hover,
.multi:hover,
.multi2:hover,
.black:hover,
.white:hover,
.bcard:hover,
.wcard:hover,
.multiwhite:hover,
.multiblack:hover,
.multi2white:hover {
  border: 2px solid #000000;
  background-color: rgba(365, 365, 365, 0.5);
  cursor: pointer;
  font-weight: bold;
  color: #000000;
  opacity: .8;
  transition: .3s;
  transition: opacity 10s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.light {
  position: absolute;
  width: 0px;
  opacity: .75;
  background-color: white;
  box-shadow: #e9f1f1 0px 0px 20px 2px;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.x1 {
  -webkit-animation: floatUp 4s infinite linear;
  -moz-animation: floatUp 4s infinite linear;
  -o-animation: floatUp 4s infinite linear;
  animation: floatUp 4s infinite linear;
  -webkit-transform: scale(1.0);
  -moz-transform: scale(1.0);
  -o-transform: scale(1.0);
  transform: scale(1.0);
}

.x2 {
  -webkit-animation: floatUp 7s infinite linear;
  -moz-animation: floatUp 7s infinite linear;
  -o-animation: floatUp 7s infinite linear;
  animation: floatUp 7s infinite linear;
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
  left: 15%;
}

.x3 {
  -webkit-animation: floatUp 2.5s infinite linear;
  -moz-animation: floatUp 2.5s infinite linear;
  -o-animation: floatUp 2.5s infinite linear;
  animation: floatUp 2.5s infinite linear;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -o-transform: scale(.5);
  transform: scale(.5);
  left: -15%;
}

.x4 {
  -webkit-animation: floatUp 4.5s infinite linear;
  -moz-animation: floatUp 4.5s infinite linear;
  -o-animation: floatUp 4.5s infinite linear;
  animation: floatUp 4.5s infinite linear;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  left: -34%;
}

.x5 {
  -webkit-animation: floatUp 8s infinite linear;
  -moz-animation: floatUp 8s infinite linear;
  -o-animation: floatUp 8s infinite linear;
  animation: floatUp 8s infinite linear;
  -webkit-transform: scale(2.2);
  -moz-transform: scale(2.2);
  -o-transform: scale(2.2);
  transform: scale(2.2);
  left: -57%;
}

.x6 {
  -webkit-animation: floatUp 3s infinite linear;
  -moz-animation: floatUp 3s infinite linear;
  -o-animation: floatUp 3s infinite linear;
  animation: floatUp 3s infinite linear;
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
  -o-transform: scale(.8);
  transform: scale(.8);
  left: -81%;
}

.x7 {
  -webkit-animation: floatUp 5.3s infinite linear;
  -moz-animation: floatUp 5.3s infinite linear;
  -o-animation: floatUp 5.3s infinite linear;
  animation: floatUp 5.3s infinite linear;
  -webkit-transform: scale(3.2);
  -moz-transform: scale(3.2);
  -o-transform: scale(3.2);
  transform: scale(3.2);
  left: 37%;
}

.x8 {
  -webkit-animation: floatUp 4.7s infinite linear;
  -moz-animation: floatUp 4.7s infinite linear;
  -o-animation: floatUp 4.7s infinite linear;
  animation: floatUp 4.7s infinite linear;
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -o-transform: scale(1.7);
  transform: scale(1.7);
  left: 62%;
}

.x9 {
  -webkit-animation: floatUp 4.1s infinite linear;
  -moz-animation: floatUp 4.1s infinite linear;
  -o-animation: floatUp 4.1s infinite linear;
  animation: floatUp 4.1s infinite linear;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  left: 85%;
}

.start:focus,
.multi:focus,
.multi2:focus,
.black:focus,
.white:focus,
.bcard:focus,
.wcard:focus,
.multiwhite:focus,
.multiblack:focus,
.multi2white:focus {
  outline: none;
}

@-webkit-keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    top: 0vh;
    opacity: .8;
  }

  75% {
    opacity: 1;
  }

  100% {
    top: -100vh;
    opacity: 0;
  }
}

@-moz-keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    top: 0vh;
    opacity: .8;
  }

  75% {
    opacity: 1;
  }

  100% {
    top: -100vh;
    opacity: 0;
  }
}

@-o-keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    top: 0vh;
    opacity: .8;
  }

  75% {
    opacity: 1;
  }

  100% {
    top: -100vh;
    opacity: 0;
  }
}

@keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    top: 0vh;
    opacity: .8;
  }

  75% {
    opacity: 1;
  }

  100% {
    top: -100vh;
    opacity: 0;
  }
}

.header {
  position: absolute;
  top: 30%;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: white;
  font-size: 2.5em;
  opacity: 0;
  transition: opacity 2s;
}

.name {
  position: absolute;
  top: 49%;
  left: 75%;
  width: 100%;  
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: white;
  font-size: 1.5em;
  opacity: 0;
  transition: opacity 2s;
}

.start {
    display: none;
  position: absolute;
  border: 2px solid white;
  background: transparent;
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 250px;
  height: 50px;
  font-size: 2em;
  border-radius: 5px;
  top: 25%;
  bottom: 0px;
  margin: auto;
  transition: .3s;
  opacity: 0;
  transition: opacity 2s;
}

.multi2 {
  position: absolute;
  top: 84%;
  left: 15%;
  height: 30px;
  width: 200px;
  border: 2px solid white;
  background: transparent;
  color: white;
  opacity: 0;
  transition: opacity 2s;
  display: none;
}
.multi2white{
  position: absolute;
  top: 80%;
  left: 24%;
  height: 30px;
  width: 200px;
  border: 2px solid white;
  background: transparent;
  color: white;
  opacity: 0;
  transition: opacity 2s;
  display: none;
}
.wcard {
  position: absolute;
  border: 2px solid white;
  background: transparent;
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 250px;
  height: 50px;
  font-size: 2em;
  border-radius: 5px;
  bottom:15.5%;
  left: 18.5%;
  margin: auto;
  transition: .3s;
  opacity: 0;
  transition: opacity 3s;
  display: none;
}
.bcard {
  position: absolute;
  border: 2px solid white;
  background: transparent;
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 250px;
  height: 50px;
  font-size: 2em;
  border-radius: 5px;
  bottom: 28%;
  left: 18.5%;
  margin: auto;
  transition: .3s;
  opacity: 0;
  transition: opacity 3s;
  display: none;
}
.multi {
  position: absolute;
  border: 2px solid white;
  background: transparent;
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 250px;
  height: 50px;
  font-size: 2em;
  border-radius: 5px;
  top: 37%;
  bottom: 0px;
  margin: auto;
  transition: .3s;
  opacity: 0;
  transition: opacity 2s;
}

.black {
  position: absolute;
  border: 2px solid white;
  background: transparent;
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 250px;
  height: 50px;
  font-size: 2em;
  border-radius: 5px;
  opacity: .5;
  top: -80%;
  bottom: 0px;
  right: 67%;
  margin: auto;
  transition: .3s;
  display: none;
  opacity: 0;
  transition: opacity 2s;
}
.multiblack{
  position: absolute;
  border: 2px solid white;
  background: transparent;
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 250px;
  height: 50px;
  font-size: 2em;
  border-radius: 5px;
  opacity: .5;
  top: -80%;
  bottom: 0px;
  left: 17.5%;
  margin: auto;
  transition: .3s;
  display: none;
  opacity: 0;
  transition: opacity 2s;
}

.white {
  position: absolute;
  border: 2px solid white;
  background: transparent;
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 250px;
  height: 50px;
  font-size: 2em;
  border-radius: 5px;
  opacity: .5;
  top: -80%;
  bottom: 0px;
  left: 62%;
  margin: auto;
  transition: .3s;
  display: none;
  opacity: 0;
  transition: opacity 2s;
}

.card {
  position: absolute;
  top: 20%;
  left: 12.5%;
  width: 286px;
  height: 370px;
  border-radius: 15px;
  background: none;
  z-index: 1;
  opacity: 0;
  transition: opacity 2s;
  display: none;
  cursor: pointer;
}

.cards {
  position: absolute;
  top: 18%;
  left: 51.7%;
  width: 350px;
  height: 200px;
  border-radius: 15px;
  background: none;
  z-index: 1;
  opacity: 1;
  transition: opacity 2s;
  display: none;
  background: none;
}
.multiwhite{
  position: absolute;
  border: 2px solid white;
  background: transparent;
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 250px;
  height: 50px;
  font-size: 2em;
  border-radius: 5px;
  opacity: .5;
  top: -80%;
  bottom: 0px;
  left: 17.5%;
  margin: auto;
  transition: .3s;
  display: none;
  opacity: 0;
  transition: opacity 2s;
}
.white1,
.white2,
.white3,
.white4 {
  border: solid 1px black;
  width: 160px;
  height: 200px;
  border-radius: 15px;
  cursor: pointer;
}

.white1 img,
.white2 img,
.white3 img,
.white4 img {
  float: left;
  position: relative;
  top: 82%;
}

.white1 {
  float: left;
}

.white2 {
  position: relative;
  float: right;
}

.white3 {
  position: relative;
  margin-top: 16px;
  float: right;
}

.white4 {
  margin-top: 16px;
  float: left;
}

.card label {
  width: 270px;
}

.text {
  position: relative;
  top: 7%;
  margin-left: 5%;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  float: left;
  display: none;
  opacity: 0;
  transition: opacity 2s;
}

.text1,
.text2,
.text3,
.text4 {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  top: 4%;
  margin-left: 8px;
  float: left;
  display: none;

}

.logo {
  position: absolute;
  width: 16px;
  top: 86.5%;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 700;
  display: none;
  opacity: 0;
  transition: opacity 2s;
}

.logo img {
  width: 58px;
  height: 43px;
}

.logo1,
.logo2,
.logo3,
.logo4 {
  display: none;
}

.logo1 img,
.logo2 img,
.logo3 img,
.logo4 img {
  width: 45px;
  height: 36px;
  top: -10px;
}

.cah {
  margin-top: -32px;
  margin-left: 63px;
  position: fixed;
  display: none;
}

.cah1,
.cah2,
.cah3,
.cah4 {
  position: relative;
  color: #000000;
  margin-top: 90%;
  font-size: 14px;
  font-weight: 700;
  margin-left: 40px;
  display: none;
}
.inst {
  color: white;
  position: absolute;
  margin-top: -55%;
  font-size: 15px;
  width: 90%;
  left: 6%;
  text-align:center;
  display: none;
  opacity: 0;
  transition: opacity 2s;
}
.bar {
  position: absolute;
  margin-top:-165%;
  width: 100%;
  opacity: 0;
  transition: opacity 2s;
}
a:-webkit-any-link {
    color: none;
    text-decoration: none;
}
.bar ul {
  float: right;
  margin-right: 11%;
}

.bar li {
  color: #fff;
  display: inline;
  text-align: left;
}

li {
  margin: 10px;
}

#head1,
#head2,
#head3,
#head4,
#head5 {
  opacity: 0;
}

#head1 {
  -webkit-animation: fadeOut 1 5s ease-in;
  -moz-animation: fadeOut 1 5s ease-in;
  -o-animation: fadeOut 1 5s ease-in;
  animation: fadeOut 1 5s ease-in;
}

#head2 {
  -webkit-animation: fadeOut 1 5s ease-in;
  -moz-animation: fadeOut 1 5s ease-in;
  -o-animation: fadeOut 1 5s ease-in;
  animation: fadeOut 1 5s ease-in;
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
}

#head3 {
  -webkit-animation: fadeOut 1 5s ease-in;
  -moz-animation: fadeOut 1 5s ease-in;
  -o-animation: fadeOut 1 5s ease-in;
  animation: fadeOut 1 5s ease-in;
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  animation-delay: 12s;
}

#head4 {
  -webkit-animation: fadeOut 1 5s ease-in;
  -moz-animation: fadeOut 1 5s ease-in;
  -o-animation: fadeOut 1 5s ease-in;
  animation: fadeOut 1 5s ease-in;
  -webkit-animation-delay: 17s;
  -moz-animation-delay: 17s;
  -o-animation-delay: 17s;
  animation-delay: 17s;
}

#head5 {
  -webkit-animation: finalFade 1 5s ease-in;
  -moz-animation: finalFade 1 5s ease-in;
  -o-animation: finalFade 1 5s ease-in;
  animation: finalFade 1 5s ease-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 22s;
  -moz-animation-delay: 22s;
  -o-animation-delay: 22s;
  animation-delay: 22s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  80% {
    opacity: .9;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  80% {
    opacity: .9;
  }

  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  80% {
    opacity: .9;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  80% {
    opacity: .9;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes finalFade {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  80% {
    opacity: .9;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes finalFade {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  80% {
    opacity: .9;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes finalFade {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  80% {
    opacity: .9;
  }

  100% {
    opacity: 1;
  }
}

@keyframes finalFade {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  80% {
    opacity: .9;
  }

  100% {
    opacity: 1;
  }
}

#footer {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  color: white;
  position: fixed;
  -webkit-transform: translate(95vw, 90vh);
  -moz-transform: translate(95vw, 90vh);
  transform: translate(95vw, 90vh);
  transform: translate(95vw, 90vh);
}